<h1 class="page-title">
  <span class="animated-title">Détails de la session</span>
</h1>
<p><strong>Programme :</strong> <%= @program.goal.event.title %></p>
<p><strong>Semaine :</strong> <%= @session.week_number %></p>
<p><strong>Date :</strong> <%= @session.date.strftime("%d %b %Y") %></p>
<p><strong>Type :</strong> <%= @session.session_type.titleize %></p>
<p><strong>Durée :</strong> <%= @session.duration_min %> min</p>
<p><strong>Distance :</strong> <%= @session.distance_km %> km</p>
<p><strong>Notes :</strong> <%= @session.notes %></p>

<%= link_to "Retour au programme", program_path(@program), class: "btn btn-secondary" %>
