<footer class="fixed-bottom bg-white border-top py-2">
  <div class="container d-flex justify-content-around">
    <%= link_to root_path, class: "text-center" do %>
      <i class="bi bi-house"></i><br>Home
    <% end %>
    <%= link_to events_path, class: "text-center text-primary" do %>
      <i class="bi bi-calendar-event"></i><br>Events
    <% end %>
    <%# <%= link_to goals_path, class: "text-center" do %>
      <%# <i class="bi bi-bullseye"></i><br>Goals %>
    <%# <% end %>
    <%# <%= link_to profile_path, class: "text-center" do %>
      <%# <i class="bi bi-person"></i><br>Profile %>
    <%# <% end %>
    <%# <%= link_to ai_chat_path, class: "text-center" do %>
      <%# <i class="bi bi-chat-dots"></i><br>AI Chat %>
    <%# <% end %>
  <%# </div> %>
</footer>
