<div class="container py-5">
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-md-4 mb-4">
        <div class="event-card" data-controller="flip">
          <div class="event-card__inner">

            <!-- Front -->
            <div class="event-card__front" style="background-image: url('<%= event[:photo_url] %>');">
              <h3><%= event[:title] %></h3>
              <span class="event-card__badge <%= event[:difficulty] %>"><%= event[:difficulty] %></span>
              <p><%= event[:date] %> • <%= event[:country] %></p>
              <p><%= event[:type] %></p>
              <button class="event-card__button" data-action="click->flip#toggle">En savoir plus →</button>
            </div>

            <!-- Back -->
            <div class="event-card__back">
              <h4><%= event[:title] %></h4>
              <p>Ville : <%= event[:location] %></p>
              <p>Dans <%= (event[:date] - Date.today).to_i %> jours</p>
              <p>Distance : <%= event[:distance_km] %> km</p>
              <p>Dénivelé : <%= event[:denivele] %> m</p>
              <br>
              <button class="event-card__button_tier"><a href="<%= event[:source_url] %>" class="event-card__button_tier" target="_blank">Voir l'événement </a></button>
               <%= link_to "Créer un goal", "/events/#{event[:id]}/goals/new", class: "event-card__button_second" %>
              <button class="event-card__button" data-action="click->flip#toggle">← Retour</button>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
