<div class="card mb-3 container justify-items-center">
  <%= image_tag("course.jpg", class:"rounded-4 py-4") %>
  <div class="card-body rounded-3">
    <h5 class="card-title"><%= @event.title %></h5>
    <p class="card-text"><%= @event.description %></p>
    <p class="card-text"><small class="text-body-secondary"><%= @event.date %></small></p>
    <div class="d-flex justify-content-between">
      <%= link_to "Back to events", events_path, class:"btn btn-outline-secondary" %>
      <%= link_to "Set your goal", new_event_goal_path(@event), class:"btn btn-outline secondary"  %>
    </div>
  </div>
</div>
